p { 
  font-size: 1.3em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
}

a { 
  font-size: 1.3em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
}

h1 { 
  font-size: 2.0em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
}

h2 { 
  font-size: 1.5em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
}

body {
  background: linear-gradient(113deg, #c12222, #ee8d07);
  background-size: 400% 400%;
  animation: background-gradient 11s ease infinite;
}

@keyframes background-gradient {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
