p { 
  font-size: 1.3em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

a { 
  font-size: 1.3em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

h1 { 
  font-size: 2.0em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

h2 { 
  font-size: 1.5em;
  color: white;
  font-family: "Lucida Console", "Courier New", "Arial";
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body {
  background: linear-gradient(113deg, #c12222, #eea207);
  background-size: 400% 400%;
  animation: background-gradient 11s ease infinite;
}

@keyframes background-gradient {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
